@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-10">BIENVENIDO A FAISAB</h1>
    <h1 class="display-8">La mejor forma de ahorrar para tu salud</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<div>
    <p>En FAISAB, creemos en la importancia de cuidar tu salud y bienestar financiero. 
       Nuestra plataforma está diseñada para ayudarte a construir un futuro más saludable 
       y próspero a través del ahorro inteligente.</p>   
</div>
<div>
    <i class="fa fa-plus"></i>
    <a asp-page= "Cliente/CrearCliente">Registrarse</a>
    

</div>