@page
@model PrivacyModel
@{
    ViewData["Title"] = "Cuenta Usuario";
}
<h1>@ViewData["Title"]</h1>

<p> A continuacion enontra los detalles de su cuenta de ahorro .</p>
<script>
window.onload = function() {
    var message = '@TempData["Message"]';
    if (message) {
        alert(message);
    }
}
</script>